.last-minute {
  background-size: cover;
  padding: 5px 0 15px 5px;
  margin-top: 25px;
}

.last-minute__title {
  font-size: 30px;
  margin: 30px 0;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 31px;
  background-color: #55ac81b5;
}

.last-minute__item {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px 20px 7px 15px;
  height: 100%;
  margin-left: 9px;
}

.last-minute .view-all {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  color: rgb(250, 243, 243);
  display: block;
  line-height: 20px;
}

.last-minute__list__item {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px 20px 7px 15px;
  height: 100%;
  margin-left: 9px;
}

h3 {
  color: rgb(5, 68, 44);
  text-shadow: lightcyan 2px, 2px, 2px, 2px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
