.last-minute__title {
    font-size: 25px;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 350;
    line-height: 25px;
    background-color: #ac9855b5;
    
}
.last-minute {   
    background-size: cover;
    padding: 5px 0 15px 5px;
    margin-top: 25px;
}

h3{
    color: azure;
    text-shadow: black 2px 2px 2px 2px;
}
.last-minute__title1 {
    font-size: 90px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 100px;
    background-color: #ddc67cb5;   
}
h1{
    font-family: 'Roboto Mono', monospace;
    text-shadow: 5px 5px 5px cornflowerblue;
    font-weight: bold;
    color: #4a5155;
    font-size: 25px;
  }