<div class="last-minute__title1">
  <h1 fxLayoutAlign="center">Last Minute</h1>
</div>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let tour of tours" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body">
          <div
            class="last-minute"
            style="background-image: url(/assets/image/lastminute.jpg)"
          >
            <h3 class="last-minute__title text-center position-relative">
              <br />
              last minute
            </h3>
          </div>

          <div class="col-13 card-title align-self-center mb-0">
            <h1 solid>{{ tour.arrivalCity.name }}</h1>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{ tour?.departureDate }} - {{ tour.dateOfReturn }}
            <mat-icon class="float-right">access_time</mat-icon>
          </li>
          <li class="list-group-item">
            Departure City : {{ tour.departureCity.name }}
            <mat-icon class="float-right">airplanemode_active</mat-icon>
          </li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <!--Details-->
            <button
              (click)="showTheDetails(tour.id)"
              [routerLink]="[tour.id, 'view']"
              mat-button
              color="accent"
              data-toggle="tooltip"
              data-placement="top"
              title="Details"
            >
              <mat-icon class="material-icons-outlined">
                <span class="material-icons-outlined"> menu_book </span>
              </mat-icon>
            </button>
            <!--Buy-->
            <button
              (click)="showpPurchasedTour(tour.id)"
              routeLink="/purchased:id"
              mat-button
              color="primary"
              data-toggle="tooltip"
              data-placement="top"
              title="Buy"
            >
              <mat-icon class="material-icons-outlined">
                <span class="material-icons-outlined">shopping_cart</span>
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
