<div class="container">
  <body>
    <h1 class="contain">Create a new tour</h1>
  </body>
</div>

<div class="card-body">
  <form [formGroup]="tourForm" (ngSubmit)="submitTour()">
    <div *ngIf="messegerValidator != ''">
      <p class="alert alert-info" role="alert">{{ messegerValidator }}</p>
    </div>

    <div class="item">
      <label for="departureDate" class="form-label">Departure Date: </label>
      <input
        type="text"
        class="form-control"
        formControlName="departureDate"
        id="departureDate"
        placeholder
        aria-describedby="departureDate"
        required
      />
    </div>

    <div class="item">
      <label for="dateOfReturn" class="form-label">Date Of Return: </label>
      <input
        type="text"
        class="form-control"
        formControlName="dateOfReturn"
        id="dateOfReturn"
        placeholder
        aria-describedby="dateOfReturn"
        required
      />
    </div>

    <div class="item">
      <label for="numberOfDays" class="form-label">Number Of Days</label>
      <input
        type="text"
        class="form-control"
        formControlName="numberOfDays"
        id="numberOfDays"
        placeholder
        aria-describedby="numberOfDays"
      />
    </div>

    <div class="item">
      <label for="priceAdult" class="form-label">Price Adult </label>
      <input
        type="text"
        class="form-control"
        formControlName="priceAdult"
        id="priceAdult"
        placeholder
        aria-describedby="priceAdult"
      />
    </div>
    <div class="item">
      <label for="priceChildren" class="form-label">Price Children </label>
      <input
        type="text"
        class="form-control"
        formControlName="priceChildren"
        id="priceChildren"
        placeholder
        aria-describedby="priceChildren"
      />
    </div>
    <div class="item">
      <label for="promoted" class="form-label">Promoted </label>
      <input
        type="text"
        class="form-control"
        formControlName="promoted"
        id="promoted"
        placeholder
        aria-describedby="promoted"
      />
    </div>
    <div class="item">
      <label for="numberSeatAdult" class="form-label">Number Seat Adult </label>
      <input
        type="text"
        class="form-control"
        formControlName="numberSeatAdult"
        id="numberSeatAdult"
        placeholder
        aria-describedby="numberSeatAdult"
      />
    </div>
    <div class="item">
      <label for="numberSeatChildren" class="form-label"
        >Number Seat Children
      </label>
      <input
        type="text"
        class="form-control"
        formControlName="numberSeatChildren"
        id="numberSeatChildren"
        placeholder
        aria-describedby="numberSeatChildren"
      />
    </div>

    <!-- INPUT CITY (departure) -->
    <div class="item">
      <label for="departureCity" class="form-label">Departure City </label>
      <select
        formControlName="departureCity"
        class="form-control"
        id="departureCity"
        placeholder
        aria-describedby="departureCity"
      >
        <option>--Select Departure City--</option>
        <option *ngFor="let city of cities" [ngValue]="city">
          {{ city.name }}
        </option>
      </select>
    </div>

    <!-- INPUT CITY (arrival) -->
    <div class="item">
      <label for="arrivalCity" class="form-label">Arrival City </label>
      <select
        formControlName="arrivalCity"
        class="form-control"
        id="arrivalCity"
        placeholder
        aria-describedby="arrivalCity"
      >
        <option>--Select Arrival City--</option>
        <option *ngFor="let city of cities" [ngValue]="city">
          {{ city.name }}
        </option>
      </select>
    </div>

    <!-- INPUT AIRPORT (departure) -->
    <div class="item">
      <label for="departureAirport" class="form-label"
        >Departure Airport
      </label>
      <select
        formControlName="departureAirport"
        class="form-control"
        id="departureAirport"
        placeholder
        aria-describedby="departureAirport"
      >
        <option>--Select Departure Airport--</option>
        <option *ngFor="let airport of airports" [ngValue]="airport">
          {{ airport.name }}
        </option>
      </select>
    </div>

    <!-- INPUT AIRPORT (departure) -->
    <div class="item">
      <label for="arrivalAirport" class="form-label">Arrival Airport </label>
      <select
        formControlName="arrivalAirport"
        class="form-control"
        id="arrivalAirport"
        placeholder
        aria-describedby="arrivalAirport"
      >
        <option>--Select Arrival Airport--</option>
        <option *ngFor="let airport of airports" [ngValue]="airport">
          {{ airport.name }}
        </option>
      </select>
    </div>

    <!-- INPUT HOTEL (hotel) -->
    <div class="item">
      <label for="hotel" class="form-label">Hotel </label>
      <select
        formControlName="hotel"
        class="form-control"
        id="hotel"
        placeholder
        aria-describedby="hotel"
      >
        <option>--Select Hotel--</option>
        <option *ngFor="let hotel of hotels" [ngValue]="hotel">
          {{ hotel.name }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!tourForm.valid">
      Submit
    </button>
    <button href="#" routerLink="/tours" class="btn btn-primary">Back</button>
  </form>
</div>
