.container {
  display: flex;
  background-size: cover;
  padding: 16px;
  height: 100%;
  font-family: "Lucida", serif;
  text-shadow: 10px 10px 10px #aaa;
  max-width: 830px;
}

.form {
  border: 20px solid #8f3535;
}

h1 {
  font-size: 78px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

body {
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  text-shadow: 10px 10px 10px #aaa;
  color: rgb(12, 64, 141);
}
